# ASYNCIO SERVER CONFIGURATION
ASYNCIO_SERVER_IP: 11.168.121.90
ASYNCIO_SERVER_PORT: 8888

# DASH SERVER CONFIGURATION
DASH_SERVER_IP: 0.0.0.0
DASH_SERVER_PORT: 8050

# RECORDING CONFIGURATION
RECORD_FOLDER: /home/username/Recordings

# NOTIFICATION CONFIGURATIONS
ALERT_CLASSES: [person, dog]
COOLDOWN_TIME: 60 # seconds

# EMAIL NOTIFICATION CONFIGURATION
SENDER: example@gmail.com
SENDER_PASSWORD: password123
EMAIL_RECEIVERS:
  - receiver1@gmail.com
  - receiver2@gmail.com

# MMS NOTIFICATION CONFIGURATION
MMS_RECEIVERS:
  - { num: 3332221111, carrier: tmobile }
  - { num: 8884442222, carrier: verizon }
